body{
    background-color: rgba(0, 0, 0, 0.822);
}
.login {
    color: orangered;
    text-align: center;
}
div {
    text-align: center;
}
.email {
    color: azure;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.emailbox {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 20px;
}
.password {
    color: azure;
    text-align: center;
    font-size: 18px;
    margin: 10px;
}
.passwordbox {
    text-align: center;
    width: 200px;
    height: 20px;
    margin: 20px;
}
.loginbutton {
    text-align: center;
    width: 200px;
    height: 30px;
    color: rgba(0, 0, 0, 0.753);
    font-size: 18px;
    background-color: orangered;
    margin: 5px;
}
button {
    transition: 300ms;
}
button:hover {
    background-color:rgba(248, 66, 0, 0.623);
}
.forgotpass{
    color: rgb(145, 143, 143);
    transition: 300ms;
}
.forgotpass:hover{
    background-color: rgb(58, 58, 58);
}
.loginwgoogle{
    color: rgb(145, 143, 143);
    transition: 300ms;
}
.loginwgoogle:hover{
    background-color: rgb(58, 58, 58);
}
.line{
    text-align: left;
    width: 50vh;
    display: inline-flex;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0%;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
p{
    text-align: center;
    display: inline;
    color: rgb(145, 143, 143);
}
#line2{
    text-align: right;
    width: 50vh;
    display: inline-flex;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: 0%;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.createanaccount{
    text-align: center;
    width: 200px;
    height: 30px;
    color: rgba(0, 0, 0, 0.753);
    font-size: 18px;
    background-color: rgb(68, 68, 68);
    margin: 5px;
}
.terms{
    color: rgb(145, 143, 143);
    transition: 300ms;
}
.terms:hover{
    background-color: rgb(58, 58, 58);
}
.back{
    color:rgba(255, 68, 0, 0.664);
    transition: 300ms;
}
.back:hover{
    background-color: rgb(58, 58, 58);
}